<div class="row">
  <div class="col s12 m4 l6">
    <h1 class="" >Authors</h1>
  </div>
  <div class="col s12 m8 l6 authbtn">
    <a href="/authors/add"class="waves-effect indigo btn-large"><i class="material-icons right">library_add</i>Add an author</a>
  </div>

</div>
{{#each data}}
<div class="row">
  <div class="col s0 m1 l2">  <!-- Add author/book -->
  </div>

  <div class="col s12 m11 l10">  <!-- Card layout  -->
    <div class="row">
      <div class="col s12 m3 l4">     <!-- Picture -->
        <div >
          <a href="/authors/{{this.id}}"><img id="pic_holder"src="{{this.portrait}}" alt="this is a picture of the cover of {{this.last_name}}"></a>
        </div>
      </div>              <!-- Picture -->
      <div class="col s12 m9 l8">    <!-- Data  -->
        <h3 id="authors_name{{this.id}}">{{this.first_name}}  {{this.last_name}}</h3>
        <p id= "author_bio">{{this.bio}}</p>

      </div>
    </div>             <!-- Data  -->



  </div>

</div>   <!-- closes card layout  -->


{{/each}}
