
<div class="container spaceAboveThis">

  <div class="row">

      <div class="col s12 m4 l5">     <!-- Picture -->
          <img id="pic_holder" src="{{this.portrait}}" alt="this is a picture of the cover of {{this.last_name}}">
      </div>              <!-- Picture -->
      <div class="col s12 m8 l7">    <!-- Data  -->
        <h3 id="authors_name{{this.id}}">{{this.first_name}}{{this.last_name}}</h3>
        <p id= "author_bio">{{this.bio}}</p>
      </div>             <!-- Data  -->

    </div>
  </div>


<div class="goBack">
  <a href="/books/{{id}}/book-edit" class="waves-effect orange btn-large">Edit</a>
  <a href="/authors/{{id}}/author-delete" class="waves-effect red btn-large">Delete</a>
</div>

<div class="goBack">
  <a href="/books" class="waves-effect indigo btn-large"><i class="material-icons right">library_add</i>Go back to book list</a>
  <a href="/authors" class="waves-effect indigo btn-large"><i class="material-icons right">library_add</i>Go back to authors list</a>

  <a href="/" class="waves-effect indigo btn-large"><i class="material-icons right">library_add</i>Go back to home page</a>


</div>
